* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
  justify-content: center;
  
}

.Listnavbar {
  display: flex;
  list-style-type: none;

}
.Link {
 
  flex-grow: 1;

}

a {
  display: block;
  padding: 15px 25px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  
}

a:hover {
  color: darkred


}

html {
  font-family: "opens-sans", sans-serif;
}
